* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
}
.grid-container {
display: grid;
  width: 300px;
  height: 400px;
  background-color: #ccc;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
.sell, .score {
  background-color: #fff;
  font-size: 6rem;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}
.sell.o::after {
content: 'O';
color: blue;
}
.sell.x::after {
content: 'X';
color: red;
}
.x {
  color: red;
}
.o {
  color: blue;
}
.score {
  grid-template-columns: 1fr 1fr 1fr;
}
.sell span {
  position: absolute;
}

.sell.o span ,
.sell.x span {
  color: #0005;
}