* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
header {
  width: 100%;
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: column;
}
header div:first-child {
  font-size: 30px;
  color: blueviolet;
  text-align: center;
}
header div ul {
  display: flex;
  list-style: none;
}
header div ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100px;
  height: 30px;
  padding: auto;
  font-size: 20px;
  margin: 5px;
  color: #111;
  cursor: pointer;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main div {
  width: 200px;
  height: 300px;
  border: 1px solid saddlebrown;
  margin: 5px;
  padding: 20px;
  background-color: aliceblue;
  position: relative;
  border-radius: 15px;
  font-size: 12px;
  text-align: justify;
}
main div img {
  width: 100%;
  border-radius: 15px;
}
main div a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 90%;
  /* height: 10%; */
  color: #fff;
  background-color: aqua;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 20px;
  border-radius: inherit;
}
